body{
    color:#f5f5f5;
    background:url(../images/bg/bg5.png);
}
a:hover{
    text-decoration: none;
}
.box{
   margin:20px auto;
}
img{
    margin:0 auto;
}
.header{
    color: #ccc;
    background:#337ab7;
}
@media screen and (max-width:991px){
    .header{
        margin-bottom: 10px;
    }
}
.mod_tb{
    width:100%;
    margin:0;
    background:#337ab7;
    border-bottom: 1px solid #fff;
}
.mod_tb:hover{
    background: #ffffff;
}
.mod_tb a{
    color:#fff;
}
.mod_tb a:hover{
    color:#337ab7;
}
.header img{
    margin:10px auto;
}
.page-align{
    text-align:center;
}
.page-align span:first-child{
    font-size: 18px;
}
.grpj{
    margin:10px 0;
    padding:10px;
    border-top:2px solid #555;
    border-bottom:2px solid #555;
}
.nav-tab span{
    width:20px;
}
.box .row .nav-pills{
    font-size:40px;
}
.collapse{
    overflow:hidden;
}
.tab-content .row h2 a{
    font-size:30px;
    text-align: left;
}
.tab-content {
    padding: 10px;
    background: #fff;
    color: #646464;
}
@media screen and (min-width:767px) {
    .tab-content{
        height: 580px;
        overflow-x: hidden;
        overflow-y:auto;
    }
}
.tab-content .row h2 a span:first-child{
    margin-top:2px;
    margin-right: 5px;
}
.tab-content .tab-pane .page-header>h3{
    margin-top: -10px;
}
h5{
    padding-bottom: 5px;
    border-bottom: 1px solid #666;
}
.page-header h3>i{
    display:inline-block;
    width:20px;
    height:20px;
    background-image: url(../images/arrows-h3/arrow-DarkBlue-h3.png);
}
#profile img{
    margin-right: 15px;
}
#profile li  a:first-child{
    display:inline-block;
    width:100px;
}
.title-content{
    border-bottom:1px solid #666;
    margin-bottom:10px;
}
.title-content h3{
    margin: 10px 0 10px 10px;
}
/*进度条*/
.jdt .progress{
    margin-left:70px;
}
#protfolio .col-md-12{
    margin-bottom: 10px;
}
.thumbnail{
    height:238px;
    overflow:hidden;
}
.img-title{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color:#fff;
    height:30px;
    line-height: 30px;
    background:#3B5998;
}
#my_map{
    width:90%;
    height:300px;
    margin:auto;
    border:1px solid #666;
}
.xtubiao a{
    color:#337ab7;
    font-size: 20px;
}
body>div:last-child div{
    display:none;
}
.jdt .project {
  margin-bottom: 20px;
}
.jdt .project .project-name, .jdt .project .project-time {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.jdt .xmjl {
  margin-bottom: 20px;
}
.jdt .xmjl .xmjl-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.jdt .xmjl p {
  text-indent:2em;
}